
.mt-4 {
    color: #fff;
    background-color: #f4511e;
}

.mt-4 h1 {
    font-size: 75px;
    font-weight: normal;
}

.mt-4 p {
    font-size: 20px;
}

form {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: #f4511e;
    font-size: 250px;
    text-align: center;
    margin-left: 75px;
}

.container-fluid {
    padding: 60px 50px;
}

.container-fluid h2 {
    font-variant: small-caps;  
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.container-fluid h4 {
    font-weight: normal; 
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.container-fluid p {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.bg-secondary {
    background-color: lightgray;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
.icon {
    color: #f4511e;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.img-thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

.col {
    width: auto;
}

.carousel-control-prev, .carousel-control-next {
    color: #f4511e;
}

h5 {
    text-align: center;
}

.card-footer .btn {
    background-color: #f4511e;
    color: #fff;
}

.card p {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-footer {
    background-color: #fff;
}

.card {
    border: 1px solid #f4511e;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.card:hover {
    box-shadow:  5px 0px 40px rgba(0,0,0, .2);
}

.card-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.card-header {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}    

.card-footer {
    background-color: #fff !important;
}
  
.card-footer h3 {
    font-size: 32px;
}
  
.card-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.card h1 {
    margin: 50px auto;
}

.container-fluid .bg-secondary .form-control {
    margin: 20px;
    max-width: 300px;
}
